<aside class="sidebar">
  <div class="sidebar-brand">SCM</div>

  <mat-nav-list>
    <a mat-list-item routerLink="/">
      <mat-icon matListItemIcon>dashboard</mat-icon>
      <span matListItemTitle>Dashboard</span>
    </a>

    <a mat-list-item routerLink="/campaigns">
      <mat-icon matListItemIcon>flag</mat-icon>
      <span matListItemTitle>Campaigns</span>
    </a>

    <a mat-list-item routerLink="/submarines">
      <mat-icon matListItemIcon>directions_boat</mat-icon>
      <span matListItemTitle>Submarines</span>
    </a>

    <a mat-list-item routerLink="/simulations">
      <mat-icon matListItemIcon>history</mat-icon>
      <span matListItemTitle>Simulation History</span>
    </a>
  </mat-nav-list>
</aside>
